<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlesandbox.hykb">
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.Hykb"
            android:value="com.littlesandbox.hykb.Hykb" />
    </application>
</manifest>